body {
    font-family: 'Roboto', sans-serif;
    color: var(--second-title-color);
    background-color: var(--main-bg-color);
    letter-spacing: 0.03em;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}