:root {
    --header-color:#212121;
    --contacts-color:#757575;
    --accent-color:#2196F3;
    --main-title-color:#FFFFFF;
    --second-title-color:#212121;
    --btn-color:#FFFFFF;
    --second-btn-color:#188CE8;
    --bg-btn-color:#F5F4FA;
    --text-color:#757575;
    --main-bg-color:#FFFFFF;
    --second-bg-color:#2F303A;
    --third-bg-color:#F5F4FA;
    --address-color:#FFFFFF;
    --social-icons-color: #AFB1B8;
}